<link rel="stylesheet" href="<%=assetPath('/css/home.css')%>">
<link rel="stylesheet" href="<%=assetPath('/css/chat_box.css')%>">
<h1>SocialCode : Welcome to socialCode app</h1>

<div id="home-container">
  <section id="user-posts">
    <% if(locals.userFound){%>
      <h3>Posts</h3>
      <form action="/posts/create" id="post-form" method="POST">
          <textarea name="content" cols="30" rows="3" placeholder="Post here" required></textarea>
          <input type="submit" value="Submit">
      </form>
    <%}%>

    <div id="posts-container">
      <ul>
          <% for(post of posts){ %>
             
              <%- include('_post') %>
  
          <%}%>
      </ul>
    </div>
  </section>
  
  <section id="friends">
    <h3>My Friends</h3>
    <% for(friend of all_users) {%>
        <p>
           <a href="/users/profile/<%=friend.id%>"><%= friend.name %></a>
        </p>
     <% } %> 
  
    </section>

    <%- include('_chat_box') %>  

</div>

<!-- this is for creating posts and comments via ajax -->
<script src="<%=assetPath('/js/home_comments.js')%>"></script>
<script src="<%=assetPath('/js/home_posts.js')%>"></script>


<!-- this is for configuring socket.io on FE -->
<script src= "https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
<script src="<%=assetPath('/js/chat_socket_FE.js')%>"></script>
<% if (locals.userFound){ %>   
  <script>
      new ChatEngine('user-chat-box', '<%= locals.userFound.email %>', '<%= locals.userFound.name %>');
  </script>
  <% } %>






